In [1]:
%config Completer.use_jedi = False
import numpy as np
import pandas as pd

In [3]:
#데이타 섞기:한정된 데이타로 많은 데이타 효과를 보고자할때
#np.random.shuffle() 혹은 np.random.permutation() 함수
index = pd.date_range('2023-1-20',periods=5)#DatetimeIndex
columns = list('가나다라마')
df = pd.DataFrame(np.random.rand(5,5),index=index,columns=columns)
df

                   가         나         다         라         마
2023-01-20  0.532170  0.019392  0.784465  0.668073  0.987044
2023-01-21  0.318058  0.263377  0.246487  0.212863  0.310678
2023-01-22  0.039747  0.814384  0.074597  0.545143  0.866526
2023-01-23  0.350701  0.215017  0.003943  0.635650  0.500215
2023-01-24  0.862282  0.930944  0.096846  0.029217  0.002908

In [12]:
'''
shuffle 과 permutation함수
-넘파이 배열의 요소를 무작위로 섞는 함수
-차이점
 shuffle은 in-place방식
 permutation은 새로운 배열 반환(not in-place방식)
'''
arr = np.arange(10)
np.random.shuffle(arr)
print(arr)
arr_=np.random.permutation(arr)
print(arr_)
arr

[1 9 4 7 5 2 8 0 3 6]
[6 0 5 3 2 7 4 8 9 1]

array([1, 9, 4, 7, 5, 2, 8, 0, 3, 6])

In [15]:
#RangeIndex나 DatetimeIndex등은 immutable하다
#인덱스는 mutable연산 불가 즉 permutation()함수를 적용해야한다

#인덱스를 섞어서 데이타 프레임의 데이타를 섞자
#index는 DatetimeIndex로 원본을 변경할 수 없다(immutable하기때문)
#np.random.shuffle(index)#TypeError: Index does not support mutable operations
np.random.shuffle(columns)#columns 리스트임으로 muttable하니까[o]
columns

['다', '나', '마', '가', '라']

In [16]:
index_ = np.random.permutation(index)
index_

array(['2023-01-20T00:00:00.000000000', '2023-01-22T00:00:00.000000000',
       '2023-01-21T00:00:00.000000000', '2023-01-24T00:00:00.000000000',
       '2023-01-23T00:00:00.000000000'], dtype='datetime64[ns]')

In [17]:
#무작위로 섞은 행 색인와 컬럼 색인으로 데이타프레임 또 생성
df_ =df.reindex(index=index_,columns=columns)
df_

                   다         나         마         가         라
2023-01-20  0.784465  0.019392  0.987044  0.532170  0.668073
2023-01-22  0.074597  0.814384  0.866526  0.039747  0.545143
2023-01-21  0.246487  0.263377  0.310678  0.318058  0.212863
2023-01-24  0.096846  0.930944  0.002908  0.862282  0.029217
2023-01-23  0.003943  0.215017  0.500215  0.350701  0.635650

In [22]:
#색인 및 데이타 정렬
#1. sort_index():색인 정렬.axis=0디폴트. ascending=False추가시 내림차순(오름차순이 디폴트)
df_.sort_index()#행 인덱스 정렬(오름차순)
df_.sort_index(axis=1)#컬럼 인덱스 정렬(오르차순)
df_.sort_index(axis=1,ascending=False)#내림차순

                   마         라         다         나         가
2023-01-20  0.987044  0.668073  0.784465  0.019392  0.532170
2023-01-22  0.866526  0.545143  0.074597  0.814384  0.039747
2023-01-21  0.310678  0.212863  0.246487  0.263377  0.318058
2023-01-24  0.002908  0.029217  0.096846  0.930944  0.862282
2023-01-23  0.500215  0.635650  0.003943  0.215017  0.350701

In [32]:
#2. sort_values():데이타 정렬
#※by키워드 인수 필수. 즉 기준이 있어야 한다(데이타가 표 형태이기때문에 특정 행이나 열을 기준으로 정렬 할 수밖에 없다)

df_.sort_values(by='가')
df_.sort_values(by='가',ascending=False)#내림차순
#df_.sort_values(by='2023-01-21',ascending=False)#KeyError: '2023-01-21'
np.datetime64('2023-01-21').dtype
#df_.sort_values(by=np.datetime64('2023-01-21'),axis=0)#KeyError: numpy.datetime64('2023-01-21')
df_.sort_values(by=np.datetime64('2023-01-21'),axis=1)#반드시 axis=1 즉 해당 날짜 데이타 정렬

                   라         다         나         마         가
2023-01-20  0.668073  0.784465  0.019392  0.987044  0.532170
2023-01-22  0.545143  0.074597  0.814384  0.866526  0.039747
2023-01-21  0.212863  0.246487  0.263377  0.310678  0.318058
2023-01-24  0.029217  0.096846  0.930944  0.002908  0.862282
2023-01-23  0.635650  0.003943  0.215017  0.500215  0.350701