In [1]:
import numpy as np
import pandas as pd

In [3]:
#데이타프레임은 2차원 구조
df = pd.DataFrame(data=[90,85,60,55,70])#(5,)차원의 리스트가 (5,1)차원 형태의 데이타프레임으로 변환
df

    0
0  90
1  85
2  60
3  55
4  70

In [7]:
data=np.arange(1,11).reshape(2,-1).tolist()#tolist()는 파이썬의 리스로 변환
print(data)
df = pd.DataFrame(data)#(2,5)형태의 리스트를 (2,5)형태의 데이타 프레임으로
df

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [8]:
#index:행인덱스,columns:컬럼인덱스
df = pd.DataFrame(data=data,index=['가','나'],columns=('A','B','C','D','E'))#(2,5)형태의 리스트를 (2,5)형태의 데이타 프레임으로
df

   A  B  C  D   E
가  1  2  3  4   5
나  6  7  8  9  10

In [11]:
#행 인덱스 및 컬럼 인덱스 이름 지정하기
df.index.name='순서'
df.columns.name='컬럼명'
df

컬럼명  A  B  C  D   E
순서
가    1  2  3  4   5
나    6  7  8  9  10

In [12]:
#데이타 프레임의 주요 속성
'''
DataFrame.index: 데이타 프레임의 색인(행 labels)(행 인덱스)을 반환한다
DataFrame.index.name:데이타 프레임 색인의 이름을 반환
DataFrame.columns:데이타 프레임의 컬럼 labels(컬럼 인덱스)를 반환
DataFrame.columns.name : 컬럼 labels(컬럼 인덱스)의 이름 반환
DataFrame.dtypes: 데이타 프레임의 dtypes객체들을 반환
DataFrame.values: 데이타 프레임의 NumPy 표현식으로 밸류값들을 반환한다
DataFrame.T :전치된 데이타 프레임를 반환( index와 column을 바꾼 형태)
'''
df.dtypes#각 컬럼별 타입

컬럼명
A    int64
B    int64
C    int64
D    int64
E    int64
dtype: object

In [13]:
df.T

순서   가   나
컬럼명
A    1   6
B    2   7
C    3   8
D    4   9
E    5  10

In [14]:
df.values#넘파이 배열

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]], dtype=int64)

In [18]:
#딕셔너리의 키가 컬럼 인덱스가 된다
#{'키' :'값' }에서  '값' 자리에 [  ] 리스트 형태로 입력
#키의 갯수은 열(Columns)의 갯수가 되고 키값이 컬럼명이된다,
#리스트의 요소들의 갯수은 각 행의 갯수가 된다
dic = {'names':['가길동','나길동','다길동'],'scores':[90,56,87],'grade':['A','F','B']}
df = pd.DataFrame(dic,index=[1,2,3])
df

  names  scores grade
1   가길동      90     A
2   나길동      56     F
3   다길동      87     B

In [24]:
#넘파이 배열은 반드시 2차원이어야 한다.
#index키워드 인수에는 Index객체 지정해보자
dates = pd.date_range('20230817',periods=3,freq='D')
dates#DatetimeIndex객체
df=pd.DataFrame(data=np.arange(1,13).reshape(3,-1),index=dates,columns=['Open','High','Low','Close'])
df

            Open  High  Low  Close
2023-08-17     1     2    3      4
2023-08-18     5     6    7      8
2023-08-19     9    10   11     12