In [1]:
%config Completer.use_jedi = False
import numpy as np
import pandas as pd

In [2]:
#산술 연산
#※NaN과 산술연산시 NaN
10 * np.nan

nan

In [3]:
df = pd.DataFrame({'angles':[0,3,4],'degrees':[360,180,360]},index=['circle','triangle','rectangle'])
df

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [5]:
#스칼라
df + 1  #스칼라가 (3,2) [[1,1],[1,1],[1,1]]
df.add(1)

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [7]:
df-1
df.sub(1)

           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359

In [9]:
df*10
df.mul(10)

           angles  degrees
circle          0     3600
triangle       30     1800
rectangle      40     3600

In [11]:
df / 10
df.div(10)

           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0

In [16]:
np.ones((3,2))
df.sub(np.ones((3,2)))#df.sub(1)

           angles  degrees
circle       -1.0    359.0
triangle      2.0    179.0
rectangle     3.0    359.0

In [20]:
df.sub((1,2,3),axis=0)#행축으로 모든 요소 1씩,2씩,3씩 빼기.스칼라가 아닌값이 여러값을 연산시에는 반드시 axis지정

           angles  degrees
circle         -1      359
triangle        1      178
rectangle       1      357

In [22]:
df.sub((1,2),axis=1)#열축으로 컬럼인덱스가 0인 열은 1씩,컬럼인덱스가 1인 열은 2씩 빼기

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [38]:
#시리즈로 한꺼번에 각 행축 계산하기(
series =pd.Series([1,2,3],index=df.index)#1)시리즈의 인덱스를 데이타 프레임의 행인덱스 지정해야 한다
df.sub(series,axis=0)#2)axis=0을 반드시 추가. 안그러면 모든 요소가 NaN
#데이타프레임으로 한꺼번에 각행열요소와 계산하기
df_sub=pd.DataFrame(df.values,index=df.index,columns=df.columns)#반드시 index와 columns를 df의 index와 columns로 설정해야한다
df.sub(df_sub)

           angles  degrees
circle          0        0
triangle        0        0
rectangle       0        0