In [1]:
%config Completer.use_jedi = False
import numpy as np
import pandas as pd

In [36]:
#수학 및 통계학적 연산
#수학 및 통계학 연산 관련 함수는 기본적으로 NaN는 제외시킨다
data = [
    [1,2,12],
    [4,11,6],
    [7,np.nan,np.nan],
    [10,5,np.nan]]
df = pd.DataFrame(data=data,columns=list('ABC'),index=list('가나다라'))
df

    A     B     C
가   1   2.0  12.0
나   4  11.0   6.0
다   7   NaN   NaN
라  10   5.0   NaN

In [25]:
#1. describe()함수 -각열에 대한 기본 통계량
df.describe()
df_=df.describe(include='all')#object인 열도 포함
df_.loc['min',['A,'B','C','D']]#각 컬럼의 최소 값

A    1.0
B    2.0
C    6.0
D    NaN
Name: min, dtype: object

In [13]:
#2. count()함수
df.count()#각 열별로 NaN이 아닌 값의 수 통계
df.count(axis=1)#각 행별로 NaN이 아닌 값의 수 통계

가    3
나    4
다    2
라    4
dtype: int64

In [26]:
#3. min()함수-각 열별 최소값
df.min()
df_.loc['min','A']#A컬럼의 최소값
#df.min(axis=1)#FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

1.0

In [29]:
#4. max()함수-각 열별 최소값
df.max()
df_.loc['max','A']

A      10
B    11.0
C    12.0
D     한소인
dtype: object

In [40]:
#idxmax() 및 idxmin()함수
df.idxmax()##각 열별 최대값인 행 색인 반환
df.idxmax(axis=1)#각 행별 최대값인 열 색인 반환

가    C
나    B
다    A
라    A
dtype: object

In [39]:
df.idxmin()#각 열별 최소값인 행 색인 반환

A    가
B    가
C    나
dtype: object

In [43]:
# sum()함수-각 열별 총합
print(df.sum())
df.sum(axis=1)#각 행별 총합

A    22.0
B    18.0
C    18.0
dtype: float64

가    15.0
나    21.0
다     7.0
라    15.0
dtype: float64

In [46]:
#특정행 및 열별로 총합 구하기
df['A'].sum()#A열의 CHDGKQ
df.loc['나'].sum()#나행의 총합

21.0

In [48]:
#8. median()함수
print(df.median())#각 열별 중앙값
df.median(axis=1)#각 행별 중앙값

A    5.5
B    5.0
C    9.0
dtype: float64

가    2.0
나    6.0
다    7.0
라    7.5
dtype: float64