In [1]:
import numpy as np
import pandas as pd

In [33]:
#데이타 프레임 참조하기 2
dic = {'names':['가길동','나길동','다길동','라길동'],'scores':[90,56,87,78],'grade':['A','F','B','C']}
df = pd.DataFrame(dic,columns=['names','year','scores','grade','major'],index=list('가나다라'))
df
df.empty#False . empty는 데이타 프레임객체의 속성으로 비어 있으면 True

False

In [6]:
#행 참조하기 - 슬라이싱
#※행 인덱스가 정수든 문자열이든  항상 : 이 포함되어야한다 df[ : ]  :이 들어가면 행인덱스를 의미한다
#※인덱스 순서대로 슬라이싱 하자. 안그러면 Empty DataFrame.반환
#※df['인덱스명'] 는 컬럼 인덱스에서 인덱스명을 찾는다
#df['가']#KeyError: '가'. 무조건 컬럼 인덱스에서  '가'를 찾는다
df['가':'나']
df['가':'가']#'가'라는 행인덱스명으로 데이타 가져오기
df['다':'가']#Empty DataFrame

Empty DataFrame
Columns: [names, year, scores, grade, major]
Index: []

In [9]:
#숫자 인덱스로도 가져올 수 있다
#df[1]#KeyError: 1 역시 컬럼인덱스에서 1을 찾는다
df[1:3]#df[정수시작 행 인덱스:정수끝 행 인덱스] 이때 정수끝 인덱스는 포함 안됨
df[3:1]#Empty DataFrame

Empty DataFrame
Columns: [names, year, scores, grade, major]
Index: []

In [15]:
#행 참조하기 - 불리언 인덱싱
#df[df.컬럼명을 이용한 비교식]로 행 가져오기
#df[불리언값을 가진 시리즈] 즉 True에 해당하는 행만 슬라이싱 한다
#하드코딩해서 불리언값을 가진 시리즈 생성해서 불리언인덱싱
#반드시 시리즈의 인덱스명과 데이타 프레임의 행인덱스명을 일치시키자
series=pd.Series(data=[True,False,False,True],index=list('가나다라'))
series#불리언 시리즈
df[series]

  names year  scores grade major
가   가길동  NaN      90     A   NaN
라   라길동  NaN      78     C   NaN

In [19]:
#데이타 프레임의 기존 컬럼의 값을 사용해서 불리언값을 가진 시리즈 생성해서 불리언 인덱싱
series = df['scores'] >=80
series
df[df['scores'] >=80]#80점 이상인 학생 데이타만 추출

  names year  scores grade major
가   가길동  NaN      90     A   NaN
다   다길동  NaN      87     B   NaN

In [30]:
#&나 | 연산자를 이용해서 여러개의 마스크를 조건으로 사용해서 여러행 가져오기
mask = (df['scores'] >=70) & (df['scores'] < 90)
mask
df[mask]##70점 이상,90미만인 학생 데이타만 추출

  names year  scores grade major
다   다길동  NaN      87     B   NaN
라   라길동  NaN      78     C   NaN

In [31]:
df[df['scores'] >=95]#Empty Dataframe

Empty DataFrame
Columns: [names, year, scores, grade, major]
Index: []

In [32]:
'95점 이상인 학생이 없다' if df[df['scores'] >=95].empty else '95점 이상인 학생이 있다'

'95점 이상인 학생이 없다'