In [1]:
import numpy as np
import pandas as pd

In [19]:
#※ 판다스의 시리즈나 데이타 프레임의 데이타들은 모두 자료형이 넘파이 배열 타입이다
#시리즈는 1차원 구조
#Series 생성 첫번째
#index 키워드 인수 미 지정(기본적으로 자동으로 정수 인덱스가 지정)
series = pd.Series([90,85,60,55,70])#파이썬 리스트 혹은 튜플
series

0    90
1    85
2    60
3    55
4    70
dtype: int64

In [6]:
#index 키워드 인수 지정
#인덱스의 수와 요소 수가 일치해야 한다
series = pd.Series([90,85,60,55,70],index=['A','B','C','D','E'])
series

A    90
B    85
C    60
D    55
E    70
dtype: int64

In [13]:
series = pd.Series([90,85,60,55,70],index=['A','B','D','F','C'],name='학점')
series

A    90
B    85
D    60
F    55
C    70
Name: 학점, dtype: int64

In [14]:
#시리즈의 주요 속성
'''
Series.index: 시리즈의 색인 labels을 반환한다
Series.values: dtype에 의해 결정된 ndarray타입의 밸류값들을 Series로 반환한다
Series.dtype: 시리즈의 dtype객체를 반환
Series.name:시리즈의 이름을 반환
Series.index.name:색인의 이름을 반환
'''
series.index

Index(['A', 'B', 'D', 'F', 'C'], dtype='object')

In [15]:
series.values

array([90, 85, 60, 55, 70], dtype=int64)

In [16]:
f'타입:{series.dtype},시리즈명:{series.name},인덱스명:{series.index.name}'

'타입:int64,시리즈명:학점,인덱스명:None'

In [17]:
series.index.name='등급'
series.index.name

'등급'

In [20]:
#딕셔너리의 키가 인덱스(색인)가 된다
series2 = pd.Series({'A':90,'B':85,'D':60,'F':55,'C':70})#파이썬 딕션너리
series2

A    90
B    85
D    60
F    55
C    70
dtype: int64

In [22]:
series2.name='학점'
series2.index.name='등급'
series2

등급
A    90
B    85
D    60
F    55
C    70
Name: 학점, dtype: int64

In [24]:
series3= pd.Series(np.arange(1,11))
series3

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [26]:
#2차원 넘파이 배열은 시리즈로 만들 수 없다.무조건 1차원이어야 한다
#series3= pd.Series(np.arange(1,11).reshape((2,-1)))#Data must be 1-dimensional
#series3

ValueError: Data must be 1-dimensional